:root{
  --my-cream:#F8FAF9;
  --my-blue:#4185F4;
  --my-gray:#808080;
  --my-tomato:#F5584C;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color:var(--my-cream);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
